/* Reset Box Model */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove List Styles */
ul,
ol {
  list-style: none;
}

/* Remove Anchor Underlines */
a {
  text-decoration: none;
}

/* Remove Default Heading Margins */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Set Default Text and Background Colors */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Remove Default Button Styles */
button,
input[type=button],
input[type=submit] {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

img {
  pointer-events: none;
}

.opacity--0 {
  opacity: 0;
}

.opacity--1 {
  opacity: 1;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

@media (min-width: 1921px) {
  .main {
    max-width: 1920px;
    margin-inline: auto;
  }
}

.backtop--section {
  background-color: #f4f4f4;
  text-align: center;
  padding: 30px 0;
}
.backtop--section span {
  display: block;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: normal;
}
.backtop--section .title {
  margin-top: 10px;
}
.backtop--section .icon {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid #000000;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 41px;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 36px;
  }
}
@media (min-width: 1400px) {
  h2 {
    font-size: 41px;
  }
}

h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  h3 {
    font-size: 36px;
  }
}

h4 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  h4 {
    font-size: 30px;
  }
}

h5 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h5 {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: 100%;
}
@media (min-width: 320px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container--fluid {
  margin-inline: auto;
  max-width: 100%;
}
@media (min-width: 320px) {
  .container--fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  .container--fluid {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container--fluid {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container--fluid {
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.img__fluid {
  max-width: 100%;
  height: auto;
}

.display__flex {
  display: flex;
}

.align__items-center {
  align-items: center;
}

.align__items-start {
  align-items: start;
}

.align__items-end {
  align-items: end;
}

.justify__content-center {
  justify-content: center;
}

.justify__content-start {
  justify-content: start;
}

.justify__content-end {
  justify-content: end;
}

.justify__content-between {
  justify-content: space-between;
}

.primary__button {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  padding: 1rem 1.5rem;
  background-color: #FFFFFF;
  text-align: center;
  color: #3a3a3a;
}

.primary__button--sm {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  padding: 0.4rem 1rem;
  background-color: #FFFFFF;
  text-align: center;
  color: #3a3a3a;
}

.hero__section {
  position: relative;
  background-image: url("../images/hero/hero-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: block;
  padding: 74px 0 100px 0;
  color: #FFFFFF;
}
.hero__section span {
  display: block;
}
@media (max-width: 599px) {
  .hero__section .logo__circle {
    width: 20%;
  }
}
.hero__section h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  display: block;
  position: relative;
  padding-right: 2rem;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .hero__section h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .hero__section h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .hero__section h1 {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .hero__section h1 {
    font-size: 80px;
  }
}
.hero__section h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  position: relative;
}
@media (min-width: 576px) {
  .hero__section h2 {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .hero__section h2 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .hero__section h2 {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .hero__section h2 {
    font-size: 41px;
  }
}
.hero__section p {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  text-align: left;
  padding-right: 0;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .hero__section p {
    padding-right: 1rem;
  }
}
.hero__section .hero__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .hero__section .hero__wrapper {
    flex-direction: column-reverse;
  }
}
.hero__section .hero__inner {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .hero__section .hero__inner {
    flex: 0 0 62%;
    max-width: 62%;
  }
}
.hero__section .hero__image {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .hero__section .hero__image {
    flex: 0 0 38%;
    max-width: 38%;
  }
}
.hero__section .hero__light {
  font-weight: lighter;
}
.hero__section .hero__heading {
  padding-left: 2rem;
}
.hero__section .hero__flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.hero__section .hero__list {
  padding-left: 2rem;
  position: relative;
}
.hero__section .hero__list:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #FFFFFF;
}
.hero__section .hero__item {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
}
.hero__section .hero__item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.gradient__area {
  background: linear-gradient(to bottom, #0046bb 0%, #002768 50%);
  width: 100%;
  height: auto;
  position: relative;
  padding: 2rem 0;
}
@media (min-width: 992px) {
  .gradient__area {
    height: 104px;
    padding: 0;
  }
}
@media (max-width: 599px) {
  .gradient__area .button {
    margin-top: 1rem;
    display: inline-block;
  }
}
.gradient__area:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/red_ribbon-sm.svg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  display: none;
}
@media (min-width: 1200px) {
  .gradient__area:after {
    display: block;
  }
}
.gradient__area .right__area {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .gradient__area .right__area {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
.gradient__area .left__area {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .gradient__area .left__area {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.gradient__area .theme__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  z-index: 10;
}
.gradient__area .theme__avatar--image {
  position: relative;
  display: none;
  position: absolute;
  bottom: 0;
  left: -12%;
}
@media (min-width: 992px) {
  .gradient__area .theme__avatar--image {
    left: 0;
    display: block;
  }
}
@media (min-width: 1400px) {
  .gradient__area .theme__avatar--image {
    left: -12%;
    display: block;
  }
}
.gradient__area .theme__circle--logo {
  position: relative;
}
@media (min-width: 992px) {
  .gradient__area .theme__circle--logo {
    position: absolute;
    bottom: 4px;
    left: 15%;
  }
}

.theme__section--1 {
  position: relative;
  background-image: url("../images/theme_background-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.theme__section--1 .theme__row--2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 2rem;
}
@media (min-width: 768px) {
  .theme__section--1 .theme__row--2 {
    padding: 60px 2rem;
  }
}
@media (min-width: 1200px) {
  .theme__section--1 .theme__row--2 {
    padding: inherit;
  }
}
.theme__section--1 .theme__content, .theme__section--1 .theme__image {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .theme__section--1 .theme__content, .theme__section--1 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.theme__section--1 h1, .theme__section--1 p {
  color: #002393;
}

.theme__section--2 {
  position: relative;
  background-image: url("../images/theme_background-2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 60px 0;
  z-index: 5;
}
.theme__section--2:before {
  content: "";
  background-image: url("../images/ribbon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 20px;
  width: 40%;
  height: 40%;
  z-index: 1;
  display: none;
}
@media (min-width: 1200px) {
  .theme__section--2:before {
    display: block;
  }
}
.theme__section--2 .theme__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.theme__section--2 .theme__col {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .theme__section--2 .theme__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--2 .theme__col {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
.theme__section--2 .theme__image {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .theme__section--2 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--2 .theme__image {
    flex: 0 0 58%;
    max-width: 58%;
  }
}
.theme__section--2 .theme__image img {
  width: 100%;
}
.theme__section--2 h1,
.theme__section--2 p {
  color: #002393;
  max-width: 100%;
  padding-left: 0;
}
@media (min-width: 992px) {
  .theme__section--2 h1,
.theme__section--2 p {
    max-width: 445px;
    padding-left: 3.375rem;
  }
}

.theme__section--3 {
  position: relative;
  background-image: url("../images/theme_background-3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: auto;
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .theme__section--3 {
    min-height: 400px;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .theme__section--3 {
    min-height: 550px;
  }
}
@media (min-width: 1600px) {
  .theme__section--3 {
    padding: 30px 0;
  }
}
@media (min-width: 1800px) {
  .theme__section--3 {
    min-height: 700px;
    padding: 20px 0;
  }
}
@media (min-width: 1900px) {
  .theme__section--3 {
    min-height: 760px;
    padding: 60px 0;
  }
}
.theme__section--3:after {
  content: "";
  background-image: url("../images/ribbon-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 20px;
  width: 40%;
  height: 40%;
  z-index: 1;
  display: none;
}
@media (min-width: 1200px) {
  .theme__section--3:after {
    display: block;
  }
}
.theme__section--3 .theme__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .theme__section--3 .theme__row {
    min-height: 450px;
  }
}
@media (min-width: 1400px) {
  .theme__section--3 .theme__row {
    min-height: 550px;
  }
}
@media (min-width: 1600px) {
  .theme__section--3 .theme__row {
    min-height: 590px;
  }
}
.theme__section--3 .theme__col {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .theme__section--3 .theme__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--3 .theme__col {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
.theme__section--3 .theme__image {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  z-index: 5;
}
@media (min-width: 992px) {
  .theme__section--3 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--3 .theme__image {
    flex: 0 0 58%;
    max-width: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.theme__section--3 .theme__image img {
  width: 100%;
}
.theme__section--3 h1,
.theme__section--3 p {
  color: #FFFFFF;
  max-width: 100%;
  padding-left: 0;
}
@media (min-width: 1200px) {
  .theme__section--3 h1,
.theme__section--3 p {
    max-width: 445px;
    padding-left: 3.375rem;
  }
}

.theme__section--4 {
  position: relative;
  background-color: #cbd1d9;
  width: 100%;
  height: auto;
  min-height: auto;
  padding: 0;
}
@media (min-width: 1200px) {
  .theme__section--4 {
    min-height: 790px;
  }
}
.theme__section--4 .container--fluid {
  padding: 0;
}
.theme__section--4 .theme__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.theme__section--4 .theme__col {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .theme__section--4 .theme__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--4 .theme__col {
    flex: 0 0 35%;
    max-width: 35%;
  }
}
.theme__section--4 .theme__image {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .theme__section--4 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--4 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.theme__section--4 .theme__image img {
  width: 100%;
}
.theme__section--4 .theme__bottom--image {
  z-index: 10;
  display: none;
}
@media (min-width: 1200px) {
  .theme__section--4 .theme__bottom--image {
    position: absolute;
    right: 0;
    bottom: -110px;
    display: block;
  }
}
.theme__section--4 h1,
.theme__section--4 p {
  color: #002393;
  max-width: 90%;
  padding-left: 0;
  margin-inline: auto;
}
@media (min-width: 992px) {
  .theme__section--4 h1,
.theme__section--4 p {
    max-width: 482px;
    padding-left: 2rem;
    margin-inline: inherit;
  }
}

.theme__section--5 {
  position: relative;
  background-image: url("../images/theme_background-4.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 60px 0 50px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .theme__section--5 {
    padding: 192px 0 50px 0;
  }
}
.theme__section--5 .container--fluid {
  padding: 0;
}
.theme__section--5 .theme__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.theme__section--5 .theme__col {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .theme__section--5 .theme__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.theme__section--5 .theme__col-full {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .theme__section--5 .theme__col-full {
    text-align: right;
  }
}
.theme__section--5 .theme__list {
  display: block;
  position: relative;
  z-index: 11;
}
.theme__section--5 .theme__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.theme__section--5 .theme__icon {
  flex: 0 0 12%;
  max-width: 12%;
}
.theme__section--5 .theme__title {
  flex: 0 0 88%;
  max-width: 88%;
  padding-left: 1.125rem;
}
.theme__section--5 .theme__bottom--image {
  display: none;
  z-index: 10;
  position: absolute;
  bottom: -110px;
  left: 0;
}
@media (min-width: 1200px) {
  .theme__section--5 .theme__bottom--image {
    bottom: -180px;
    display: block;
    width: 30%;
  }
}
@media (min-width: 1600px) {
  .theme__section--5 .theme__bottom--image {
    width: 35%;
  }
}
@media (min-width: 1800px) {
  .theme__section--5 .theme__bottom--image {
    width: auto;
  }
}
.theme__section--5 h5,
.theme__section--5 p {
  color: #FFFFFF;
}
.theme__section--5 h5 {
  margin-bottom: 4px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .theme__section--5 h5 {
    font-size: 30px;
  }
}
.theme__section--5 p {
  font-size: 14px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .theme__section--5 p {
    font-size: 18px;
  }
}

.theme__section--6 {
  position: relative;
  background-color: #cbd1d9;
  width: 100%;
  height: auto;
  min-height: auto;
  padding: 0;
}
@media (min-width: 1200px) {
  .theme__section--6 {
    min-height: 790px;
  }
}
.theme__section--6 .container--fluid {
  padding: 0;
}
.theme__section--6 .theme__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.theme__section--6 .theme__col {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .theme__section--6 .theme__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--6 .theme__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.theme__section--6 .theme__image {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .theme__section--6 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .theme__section--6 .theme__image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.theme__section--6 .theme__image img {
  width: 100%;
}
.theme__section--6 .theme__bottom--image {
  position: absolute;
  right: 0;
  bottom: -110px;
  z-index: 10;
}
.theme__section--6 h1,
.theme__section--6 p {
  color: #002393;
  max-width: 90%;
  padding-left: 0;
  margin-inline: auto;
}
@media (min-width: 992px) {
  .theme__section--6 h1,
.theme__section--6 p {
    max-width: 610px;
    padding-left: 2rem;
    margin-inline: inherit;
  }
}

.theme__section--7 {
  position: relative;
  width: 100%;
  display: block;
  background-color: #282828;
}
.theme__section--7 h5,
.theme__section--7 small,
.theme__section--7 button {
  color: #FFFFFF;
}
.theme__section--7 h5 {
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  .theme__section--7 h5 {
    font-size: 18px;
  }
}
.theme__section--7 button {
  margin-bottom: 1.6rem;
}
.theme__section--7 img {
  width: 100%;
}
.theme__section--7 .theme__wrapper {
  position: relative;
}
.theme__section--7 .theme__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/highlight-screen-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: none;
}
@media (min-width: 768px) {
  .theme__section--7 .theme__wrapper:before {
    display: block;
  }
}
.theme__section--7 .theme__highlight {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .theme__section--7 .theme__highlight {
    align-items: flex-end;
    flex-direction: inherit;
  }
}
.theme__section--7 .theme__inner {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .theme__section--7 .theme__inner {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
.theme__section--7 .theme__center {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
@media (max-width: 575px) {
  .theme__section--7 .theme__center {
    order: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.theme__section--7 .theme__inner--caption {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.theme__section--7 .theme__inner--caption:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.theme__section--8 {
  background-color: #d6d3d3;
  padding: 60px 0 30px 0;
  position: relative;
  display: block;
}
.theme__section--8 h2 {
  color: #002393;
}

.theme__section--9 {
  background-color: #FFFFFF;
  padding: 85px 0;
  position: relative;
}
.theme__section--9 .theme__flex-list {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 601px) {
  .theme__section--9 .theme__flex-list {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .theme__section--9 .theme__flex-list {
    justify-content: space-between;
  }
}
.theme__section--9 .theme__list:last-of-type {
  padding-right: 3rem;
}
.theme__section--9 .theme__ul {
  position: relative;
  list-style: disc;
  padding-left: 16px;
}
.theme__section--9 .theme__ul li {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-align: left;
  color: #000000;
}
@media (min-width: 1200px) {
  .theme__section--9 .theme__ul li {
    font-size: 16px;
  }
}
.theme__section--9 .theme__ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

.footer__area {
  background-color: #282828;
  padding: 2rem 0;
  position: relative;
  display: block;
  color: #FFFFFF;
}
.footer__area .container--fluid {
  margin-inline: auto;
}
@media (min-width: 1200px) {
  .footer__area .container--fluid {
    max-width: 80%;
  }
}
@media (max-width: 1199px) {
  .footer__area h6 {
    font-size: 12px;
  }
}
.footer__area a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
}
@media (min-width: 1200px) {
  .footer__area a {
    font-size: 14px;
  }
}
.footer__area p {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  display: block;
}
@media (min-width: 1200px) {
  .footer__area p {
    font-size: 14px;
  }
}
.footer__area input {
  border: 1px solid #FFFFFF;
  padding: 10px 15px;
  text-align: left;
  position: relative;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  background-color: transparent;
  width: 100%;
}
@media (min-width: 1200px) {
  .footer__area input {
    font-size: 14px;
  }
}
.footer__area input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFFFFF;
}
.footer__area input::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF;
}
.footer__area input:-ms-input-placeholder {
  /* IE 10+ */
  color: #FFFFFF;
}
.footer__area input:-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF;
}
.footer__area button {
  width: 110px;
  height: auto;
}
.footer__area .ft__logo--row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__area .ft__social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__area .ft__social {
    margin-bottom: 0;
  }
}
.footer__area .ft__social a {
  background-color: #FFFFFF;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__area .ft__social a i {
  color: #000000;
  font-size: 22px;
}
.footer__area .ft__social a:not(:last-of-type) {
  margin-right: 5px;
}
.footer__area .ft__row {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 992px) {
  .footer__area .ft__row {
    grid-template-columns: 30% 20% 20% 30%;
  }
}
.footer__area .ft__inner:not(:last-of-type) {
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .footer__area .ft__inner:not(:last-of-type) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer__area .ft__inner:nth-child(2) {
    padding-left: 3rem;
  }
}
.footer__area .ft__inline-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
}
@media (min-width: 768px) {
  .footer__area .ft__inline-form {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
.footer__area .ft__form--control:last-of-type {
  grid-column: 1/-1;
}
.footer__area .ft__list li:not(:last-of-type) {
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
